.scroll-container {
  overflow-x: scroll; /* Enables horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
